:root
{
	--main-bg-color: #0d0016;
	--main-text-color: #989fc1;
	--glow-accent-color: #dcb300;
	--glow-hover-color: #ddd500;
	--special-accent-color: #14a5ff;
	--special-hover-color: #00ffff;
	--blink-percentage: 50%;
}


body
{
	font-family: "Courier New", "Lucida Console", monospace;
	color: var(--main-text-color);
}

img
{
	max-width: 100%;
	height: auto;
}
img.marginauto 
{
	margin: 10px auto 25px;
	display: block;
}
img.radial-bg
{
	background-image: radial-gradient(purple, transparent var(--blink-percentage));
}

.center
{
	margin-left: 5cm;
	margin-right: 5cm;
}


/* Make text glow */
gl, pipe.title
{
	color: var(--glow-accent-color);
	font-style: normal;
	text-shadow: 0 0 5px var(--glow-accent-color);
	transition: 0.3s;
}
gl:hover, pipe.title:hover
{
	color: var(--glow-hover-color);
	font-style: normal;
	text-shadow: 0 0 6px var(--glow-hover-color);
}
/* Special glow */
gl.special, pipe.attribute
{
	color: var(--special-accent-color);
	text-shadow: 0 0 5px var(--special-accent-color);
}
gl.special:hover
{
	color: var(--special-hover-color);
	text-shadow: 0 0 7px var(--special-hover-color);
}

/* Stuff for pipeline */
pipe.title
{
	font-size: 22px;
}
pipe.attribute
{
	font-size: 14px;
}
div.box-blue
{
	border-style: solid;
	border-color: #14a5ff;
	border-radius: 8px;
	margin: 20px;
	padding: 20px;
	/*box-shadow: 10px 10px;*/
	box-shadow: 1px 1px 5px #14a5ff, 10px 10px 20px #14a5ff;
}
div.box-green
{
	border-style: solid;
	border-color: #14a5ff;
	border-radius: 8px;
	margin: 20px;
	padding: 20px;
	/*box-shadow: 10px 10px;*/
	box-shadow: 1px 1px 5px #14a5ff, 10px 10px 20px #14a5ff;
}
div.box-orange
{
	border-style: solid;
	border-color: #14a5ff;
	border-radius: 8px;
	margin: 20px;
	padding: 20px;
	/*box-shadow: 10px 10px;*/
	box-shadow: 1px 1px 5px #14a5ff, 10px 10px 20px #14a5ff;
}
a.pipe
{
	font-size: 22px !important;
	text-shadow: 0 0 6px darkmagenta;
}


/* Headings are brighter on hover */
h1, h2, h3, h4, h5, h6
{
	color: #9e1868;
	text-shadow: 0 0 2px #9e1868;
	transition: 0.3s;
}
h1.hover:hover, h2.hover:hover, h3.hover:hover, h4.hover:hover, h5.hover:hover, h6.hover:hover
{
	color: #ea0cba;
	text-shadow: 0 0 6px #ea0cba;
}

/* Link configuration */
a:link, a.pipe:link
{
	color: darkorchid;
	transition: 0.3s;
}
a:visited, a.pipe:visited
{
	color: darkmagenta;
}
a:hover, a.pipe:hover
{
	color: darkorchid;
	text-shadow: 0 0 6px darkorchid;
}

/* Lists don't have these ugly bullets */
ul
{
	list-style: "> ";
}


/* Blinking, for example text cursor */
.blinking
{
	animation:blinkingText 1s infinite;
}

@keyframes blinkingText
{
	0%  {color: var(--main-text-color);}
	49% {color: transparent;}
	50% {color: transparent;}
	99% {color: transparent;}
	100%{color: var(--main-text-color);}
}
