:root
{
	--main-bg-color: #0d0016;
	--main-text-color: #989fc1;
	--glow-accent-color: #dcb300;
	--glow-hover-color: #ddd500;
	--special-accent-color: #14a5ff;
	--special-hover-color: #00ffff;
	--blink-percentage: 50%;
}


body
{
	font-family: "Courier New", "Lucida Console", monospace;
	color: var(--main-text-color);
	margin: 0;
}

ul.navbar
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.navbar > li
{
	float: left;
	display: block;
	color: purple;
	padding: min(0.3vw, 20px);
	padding-right: 1vw;
	padding-left: 1vw;
	margin-left: 0px;
	margin-right: 0px;
	font-size: min(1.5vw, 20px);
}


ul.navbar > li:not(.sep):not(.invisible)
{
	border-top: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	box-shadow: inset 0px 0px min(0.3vw, 4px) purple;
}

ul.navbar > li.invisible
{
	color: rgba(0,0,0,0);
	min-width: 5vw;
}

ul.navbar > li:not(.sep):not(.invisible):hover
{
	margin-left: 0px;
	box-shadow: inset 0px 0px min(1vw, 10px) purple;
}

ul.navbar > li.special:hover
{
	box-shadow: inset 0px 0px min(1vw, 10px) var(--glow-accent-color);
}

ul.navbar > li.dropdown
{
	position: relative;
	display: inline-block;
}

ul.navbar > li.special
{
	color: var(--glow-accent-color);
}

.dropdown-content
{
	display: none;
	position: absolute;
	min-width: 15vw;
	margin: min(0.3vw, 20px) -1vw;
	z-index: 12;
	border: 1px dashed;
	box-shadow: 0px 0px min(1vw, 10px) var(--glow-accent-color);
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown-content > li:hover
{
	text-shadow: 0 0 5px var(--glow-accent-color);
}

ul.navbar > li.sep
{
	color: var(--main-text-color);
}

ul.navbar > li.last
{
	border-right: 1px solid;
}

img
{
	max-width: 100%;
	height: auto;
}
img.marginauto 
{
	margin: 10px auto 25px;
	display: block;
}
img.radial-bg
{
	background-image: radial-gradient(purple, transparent var(--blink-percentage));
}

#quoteContainer
{
	overflow: hidden;
	border: 1px solid purple;
	box-shadow: 0px 0px 10px purple;
	margin-left: 20%;
	margin-right: 20%;
}

/* For quotes, see title.js */
@keyframes rtl-move
{
	from {right: -100%;}
	to {right: 1500px;}
}

th
{
	font-size: min(1.4vw, 16px);
	border: 1px solid #980c9d;
	box-shadow: 3px 3px 10px #980c9d;
	padding: 5px;
	position: center;
}
 
th.av:hover
{
	border: 1px solid #ffffff !important;
	box-shadow: 3px 3px 10px #ffffff !important;
}

 
.center
{
	margin-left: 8%;
	margin-right: 8%;
}


/* Make text glow */
gl, pipe.title
{
	color: var(--glow-accent-color);
	font-style: normal;
	text-shadow: 0 0 5px var(--glow-accent-color);
	transition: 0.3s;
}
gl:hover, pipe.title:hover
{
	color: var(--glow-hover-color);
	font-style: normal;
	text-shadow: 0 0 6px var(--glow-hover-color);
}
/* Special glow */
gl.special, pipe.attribute
{
	color: var(--special-accent-color);
	text-shadow: 0 0 5px var(--special-accent-color);
}
gl.special:hover
{
	color: var(--special-hover-color);
	text-shadow: 0 0 7px var(--special-hover-color);
}

/* Stuff for pipeline */
pipe.title
{
	font-size: 22px;
}
pipe.attribute
{
	font-size: 14px;
}
div.box-blue
{
	border-style: solid;
	border-color: #14a5ff;
	border-radius: 8px;
	margin: 1vw;
	padding: 2vw;
	box-shadow: 1px 1px 5px #14a5ff, 1vw 1vw 2vw #14a5ff;
	font-size:1vw;
	transition: 0.3s;
}
div.box-blue:hover
{
	border-color: #0cdfff;
	box-shadow: 3px 3px 8px #0cdfff, 1vw 1vw 2.5vw #0cdfff;
	text-shadow: 0 0 20px #0cdfff;
	border-radius: 20px;
}
div.box-green
{
	border-style: dashed;
	border-color: green;
	border-radius: 8px;
	margin: 1vw;
	padding: 2vw;
	box-shadow: 1px 1px 5px green, 1vw 1vw 2.5vw green;
	font-size:1vw;
	transition: 0.3s;
}
div.box-green:hover
{
	border-color: #3bdf00;
	box-shadow: 3px 3px 8px #3bdf00, 1vw 1vw 2vw #3bdf00;
	text-shadow: 0 0 20px #3bdf00;
	border-radius: 20px;
}
div.box-orange
{
	border-style: solid;
	border-color: #dcb300;
	border-radius: 8px;
	margin: 1vw;
	padding: 2vw;
	box-shadow: 1px 1px 5px #dcb300, 1vw 1vw 2vw #dcb300;
	font-size:1vw;
	transition: 0.3s;
}
div.box-orange:hover
{
	border-color: #ffcc00;
	box-shadow: 3px 3px 8px #ffcc00, 1vw 1vw 2.5vw #ffcc00;
	text-shadow: 0 0 20px #ffcc00;
	border-radius: 20px;
}
div.move-stripes
{
	background-image: repeating-linear-gradient(-45deg, #00000000 , #00000000 30px, #00800080 30px, #00800080 60px);
}
div.move-stripes:hover
{
	background-image: repeating-linear-gradient(-45deg, #00000000 , #00000000 30px, #00d30080 30px, #00d30080 60px);
}

a.pipe
{
	font-size: 2vw !important;
	text-shadow: 0 0 6px darkmagenta;
}

.news
{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 8%;
	margin-right: 8%;
	border-color: #e30088;
	background: #e3008830;
	padding: 20px;
	border-style: solid;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #e30088, inset 0 0 0 0;
	transition: 0.3s;
}
.news:hover
{
	transition: 0.3s;
	box-shadow: 0px 0px 8px #e30088, inset 0px 0px 12px #e30088;
}
.news > .wrapper
{
	overflow: hidden;
	padding: 10px;
	border: dashed;
	border-radius: 8px;
	border-color: #e30088;
	background: #e3008880;
	box-shadow: inset 0px 0px 8px #e30088, 0px 0px 8px #e30088;
	transition: 0.3s;
}
.news > .wrapper:hover
{
	transition: 0.3s;
	box-shadow: inset 0px 0px 20px #e30088, 0px 0px 8px #e30088;
}
.wrapper > .title
{
	color: #fcee0c;
	font-size: 30px;
	font-weight: 800;
	text-shadow: 0px 0px 8px #fcee0c;
	float: left;
}
.wrapper > .date
{
	float: right;
	color: #39ff14;
	font-size: 30px;
	font-weight: 600;
}

/* Headings are brighter on hover */
h1, h2, h3, h4, h5, h6
{
	color: #9e1868;
	text-shadow: 0 0 2px #9e1868;
	transition: 0.3s;
}
h1.hover:hover, h2.hover:hover, h3.hover:hover, h4.hover:hover, h5.hover:hover, h6.hover:hover
{
	color: #ea0cba;
	text-shadow: 0 0 6px #ea0cba;
}

/* Link configuration */
a:link, a.pipe:link
{
	color: darkorchid;
	transition: 0.3s;
}
a:visited, a.pipe:visited
{
	color: darkmagenta;
}
a:hover, a.pipe:hover
{
	color: darkorchid;
	text-shadow: 0 0 6px darkorchid;
}

/* Lists don't have these ugly bullets */
ul
{
	list-style: "> ";
}

li
{
	transition: 0.3s;
	margin-left: 0px;
}
ul.hover > li:hover
{
	transition: 0.3s;
	margin-left: 10px;
}

input[type=text]
{
	width: 70%;
	border-radius: 6px;
	border: 0px dashed purple;
	box-shadow: 0px 0px 10px black;
	padding: 4px;
	margin-top: 6px;
	margin-bottom: 12px;
}

input[type=submit]
{
	background-color: #00000000;
	border: 3px dashed var(--glow-accent-color);
	color: var(--glow-accent-color);
	box-shadow: 0px 0px 5px 2px var(--glow-accent-color);
	transition: 0.3s;
	font-family: "Courier New", "Lucida Console", monospace;
}
input[type=submit]:hover
{
	border: 3px dashed var(--glow-hover-color);
	color: var(--glow-hover-color);
	background-color: #ddd50050;
	box-shadow: 0px 0px 8px 4px var(--glow-hover-color);
}



/* Blinking, for example text cursor */
.blinking
{
	animation:blinkingText 1s infinite;
}

@keyframes blinkingText
{
	0%  {color: var(--main-text-color);}
	49% {color: transparent;}
	50% {color: transparent;}
	99% {color: transparent;}
	100%{color: var(--main-text-color);}
}
